
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/myStyleSheet.css" />
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angularjs-md5/src/angularjs-md5.js"></script>
        <script src="~/js/AngularJS/routing.js"></script>
        <script src="~/js/AngularJS/services.js"></script>
        <script src="~/js/AngularJS/Controllers/userController.js"></script>
        <script src="~/js/AngularJS/Controllers/adminController.js"></script>
        <script src="~/js/AngularJS/Controllers/studentController.js"></script>
        <script src="~/js/AngularJS/Controllers/teacherController.js"></script>
        <script src="~/js/AngularJS/Controllers/routeController.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="~/lib/components-font-awesome/css/fontawesome-all.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/angular-rateit/dist/ng-rateit.css" />
        <script src="~/lib/angular-rateit/dist/ng-rateit.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>

<body>
    <div id="container" ng-controller="userController">
        <div id="header" class="w-100 border-primary border-bottom" style="background-color:aliceblue">
            <a asp-area="" asp-controller="Account" asp-action="Index" class="w-100" ng-show="showBarItem">
                <h3 class="float-left">FII Activ</h3>
            </a>
            <a asp-area="" asp-controller="Account" asp-action="Logout" class="w-100" ng-show="showBarItem">
                <input type="button" class="btn btn-outline-danger float-right" value="Deconectare"/>
            </a>
            <br />
            @*<div ng-switch="choose" class="w-100">
            <div ng-switch-when="profile">
                <p style="color:wheat">Profil</p>
            </div>
            <div ng-switch-when="timetable">
                <p style="color:wheat">Orar</p>
            </div>
        </div>*@
            <div ng-model="userRole" ng-init="userRoleValue('@User.Identity.Name')"></div>
            <div ng-switch="usrRole">
                <div ng-switch-when="Student">
                    <ul class="nav nav-tabs nav-fill w-100" data-toggle="buttons">
                        <li class="nav-item">
                            <a id="studentProfileTabId" class="nav-link" href="#!studentProfile" style="color:black" ng-click="studentProfileTab()">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a id="studentTimetableTabId" class="nav-link" href="#!studentTimetable" style="color:black" ng-click="studentTimetableTab()">Orar</a>
                        </li>
                        <li class="nav-item">
                            <a id="studentStatusTabId" class="nav-link" href="#!studentStatus" style="color:black" ng-click="studentStatusTab()">Status</a>
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="Teacher">
                    <ul class="nav nav-tabs nav-fill w-100" data-toggle="buttons">
                        <li class="nav-item">
                            <a id="teacherProfileTabId" class="nav-link" href="#!teacherProfile" style="color:black" ng-click="teacherProfileTab()">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a id="teacherTimetableTabId" class="nav-link" href="#!teacherTimetable" style="color:black" ng-click="teacherTimetableTab()">Orar</a>
                        </li>
                        <li class="nav-item">
                            <a id="teacherStatusTabId" class="nav-link" href="#!teacherStatus" style="color:black" ng-click="teacherStatusTab()">Status</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>