@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angularjs-md5/src/angularjs-md5.js"></script>
    <script src="~/js/AngularJS/Controllers/routeController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="routeController">
    <a asp-area="" asp-controller="Account" asp-action="Administrator" class="w-100">
        <h3 class="float-left">FII Activ</h3>
    </a>
    <a asp-area="" asp-controller="Account" asp-action="Logout" class="w-100">
        <h3 class="float-right">Deconectare</h3>
    </a>
    <br />
    <h1>Hello Admin!</h1>

    <button ng-click="getTimetableValue()">Click me!</button>
    <p>{{timetableMessage}}</p>
</body>
</html>