
@{
    ViewData["Title"] = "ProfileRegister";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angularjs-md5/src/angularjs-md5.js"></script>
    <script src="~/js/AngularJS/routing.js"></script>
    <script src="~/js/AngularJS/services.js"></script>
    <script src="~/js/AngularJS/Controllers/userController.js"></script>
    <link rel="stylesheet" href="~/lib/angular-rateit/dist/ng-rateit.css" />
    <script src="~/lib/angular-rateit/dist/ng-rateit.js"></script>
</head>

<body ng-controller="userController">

    <br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">FII Activ</h3>
                        <hr /><br />
                        <h5>Completează-ţi profilul</h5>
                    </div>

                    <div class="panel-body">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options" ng-model="choose" value="student" hidden ng-checked="true" /> Student
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="options" ng-model="choose" value="teacher" hidden /> Profesor
                        </label>
                        <br />

                        <div ng-switch="choose">
                            <div ng-switch-when="student">
                                <form role="form" asp-controller="Account" asp-action="StudentRegister" method="post">
                                    <fieldset>
                                        <input type="text" name="username" value="@User.Identity.Name" hidden="hidden" />
                                        <div class="form-group">
                                            <input class="form-group" type="text" name="completeName" placeholder="Nume complet" autofocus required />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-group" type="text" name="studyYear" placeholder="An studiu" required />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-group" type="text" name="studentGroup" placeholder="Grupa" required />
                                        </div>
                                        <hr />
                                        <input type="submit" value="Salvează" class="btn btn-outline-primary" />
                                        <br />
                                    </fieldset>
                                </form>
                            </div>

                            <div ng-switch-when="teacher">
                                <form role="form" asp-controller="Account" asp-action="TeacherRegister" method="post">
                                    <fieldset>
                                        <input type="text" name="username" value="@User.Identity.Name" hidden="hidden" />
                                        <div class="form-group">
                                            <input class="form-group" type="text" name="title" placeholder="Funcţie" autofocus required />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-group" type="text" name="completeName" placeholder="Nume complet" required />
                                        </div>
                                        <hr />
                                        <input type="submit" value="Salvează" class="btn btn-outline-primary" />
                                        <br />
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                    <p style="color:red">@Html.ValidationMessage("ProfileRegisterError")</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>