<div ng-init="studentCourseDetails()">
    <br />
    <ul class="list-group" ng-show="existsCourses">
        <li class="list-group-item" ng-repeat="course in studentCourses">
            <button class="btn btn-link" ng-click="navigateToAnswerPage(course)">
                {{course.title}}
            </button>
        </li>
    </ul>
    <p class="text-danger" ng-hide="existsCourses">
        {{noCourses}}
    </p>
    @*<div class="accordion" id="accordionCourses">
            <div class="card" ng-repeat="course in studentCourses">
                <div class="card-header" id="heading{{$index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{$index}}"
                                aria-expanded="true" aria-controls="collapse{{$index}}" ng-click="showCourseQuestions(course.id)">
                            {{course.title}}
                        </button>
                    </h5>
                </div>
                <div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordionCourses">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>*@
</div>