<form>
    <div class="form-group">
        <b>Nume: </b><input class="form-group" value="{{studentFullName}}" ng-model="studentFullName" name="studentFullName" type="text" required autofocus>
    </div>
    <div class="form-group">
        <b>An studiu: </b><input class="form-group" value="{{studyYear}}" ng-model="studyYear" name="studyYear" type="text" required>
    </div>
    <div class="form-group">
        <b>Grupa: </b><input class="form-group" value="{{studentGroup}}" ng-model="studentGroup" name="studentGroup" type="text" required>
    </div>
    <div class="form-group">
        <b>E-mail: </b><input class="form-group" value="{{studentMail}}" ng-model="studentMail" name="studentMail" type="text" required>
    </div>
    <div class="form-group">
        <input type="button" value="Salvează" class="btn btn-outline-primary" ng-click="editStudentProfile(userPar)" />
    </div>
    <div class="form-group">
        <input type="button" value="Anulează" class="btn btn-outline-primary float-right" ng-click="backToStudentProfile()" />
    </div>
</form>