
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p><b>Nume: </b>{{studentFullName}}</p>
    </li>
    <li class="list-group-item">
        <p><b>An studiu: </b>{{studyYear}}</p>
    </li>
    <li class="list-group-item">
        <p><b>Grupa: </b>{{studentGroup}}</p>
    </li>
    <li class="list-group-item">
        <p><b>E-mail: </b>{{studentMail}}</p>
    </li>
</ul>
<hr />
<div class="form-group">
    <input type="button" value="Editează" class="btn btn-outline-primary" ng-click="editStudentProfilePage()" />
</div>