<div ng-init="loadAnswerData()">

    <div ng-show="questionIsLaunched">
        <p class="text-warning">
            Timp de răspuns rămas:
        </p>
        <h2 class="text-secondary">
            {{time | date:'mm:ss'}}
        </h2>
        <h3>
            {{courseQuestion.questionName}}
        </h3>
        <hr />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Răspuns</span>
            </div>
            <textarea class="form-control" aria-label="Răspuns" rows="5" ng-model="studentAnswer"></textarea>
        </div>
        <br />
        <button class="btn btn-success" ng-click="sendAnswer(studentAnswer, '@User.Identity.Name')">
            Trimite răspuns
        </button>
        <button class="btn btn-outline-primary float-right" ng-click="backToStudentCourses()">
            Înapoi
        </button>
    </div>

    <div ng-hide="questionIsLaunched" class="text-danger">
        <p>
            {{noAnswers}}
        </p>
        <button class="btn btn-outline-primary" ng-click="backToStudentCourses()">
            Înapoi
        </button>
    </div>
</div>