
<div ng-init="teacherStatusDetails('@User.Identity.Name')">
    <br />
    <div class="accordion" id="accordionTimetable">
        <div class="card" ng-repeat="timetable in teacherStatusTimetable">
            <div class="card-header" id="headingT{{$index}}">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseT{{$index}}"
                            aria-expanded="true" aria-controls="collapseT{{$index}}" ng-click="showTimetableCourses(timetable.id)">
                        {{timetable.timetable}}
                    </button>
                </h5>
            </div>
            <div id="collapseT{{$index}}" class="collapse" aria-labelledby="headingT{{$index}}" data-parent="#accordionTimetable">
                <div class="card-body">

                    <p class="text-danger" ng-hide="existsStatusCourses">
                        {{noStatusCourses}}
                    </p>
                    <div class="accordion" id="accordionCourses" ng-show="existsStatusCourses">
                        <div class="card" ng-repeat="course in teacherStatusCourses">
                            <div class="card-header" id="headingC{{$index}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-success" type="button" data-toggle="collapse" data-target="#collapseC{{$index}}"
                                            aria-expanded="true" aria-controls="collapseC{{$index}}" ng-click="showCourseStatus(course.id, '@User.Identity.Name')">
                                        {{course.course}}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseC{{$index}}" class="collapse" aria-labelledby="headingC{{$index}}" data-parent="#accordionCourses">
                                <div class="card-body">

                                    <p class="text-danger" ng-hide="existsStatus">
                                        {{noStatus}}
                                    </p>

                                    <p>
                                        <div class="input-group mb-3" ng-show="existsStatus">
                                            <input type="text" class="form-control" placeholder="Caută în tabel" ng-model="searchPattern"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Caută</span>
                                            </div>
                                        </div>
                                    </p>
                                    
                                    <div class="table-responsive">
                                        <table class="table table-sm table-bordered" ng-show="existsStatus">
                                            <thead class="alert-primary text-center">
                                                <tr>
                                                    <th>
                                                        Întrebare
                                                    </th>
                                                    <th>
                                                        Student
                                                    </th>
                                                    <th>
                                                        Răpuns
                                                    </th>
                                                    <th>
                                                        Puncte
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr ng-repeat="item in teacherStatus | filter:searchPattern">
                                                    <td>
                                                        {{item.question}}
                                                    </td>
                                                    <td>
                                                        {{item.student}}
                                                    </td>
                                                    <td>
                                                        {{item.answer}}
                                                    </td>
                                                    <td>
                                                        <ng-rate-it ng-model="item.rating" read-only="true"></ng-rate-it>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>