
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p><b>Funcţie: </b>{{teacherTitle}}</p>
    </li>
    <li class="list-group-item">
        <p><b>Nume: </b>{{teacherFullName}}</p>
    </li>
    <li class="list-group-item">
        <p><b>E-mail: </b>{{teacherMail}}</p>
    </li>
</ul>
<hr />
<div class="form-group">
    <input type="button" value="Editează" class="btn btn-outline-primary" ng-click="editTeacherProfilePage()" />
</div>