body {
}

#logoStyle{
    color:black;
    text-align:center;
}
#inputStyle:active{
    background-color:lightblue;
    border-bottom-color:blue;
    align-content:center;
    margin:500px;
    width:50%;
}
#buttonStyle{
    background-color:lightblue;
    align-content:center;
    margin:50px;
    width:50%;
    height:50px;
}
#buttonStyle:active{
    background-color:lightskyblue;
}