body {
}

#logoStyle {
    color: black;
    text-align: center;
}

#inputStyle:active {
    background-color: lightblue;
    border-bottom-color: blue;
    align-content: center;
    margin: 500px;
    width: 50%;
}

#buttonStyle {
    background-color: lightblue;
    align-content: center;
    margin: 50px;
    width: 50%;
    height: 50px;
}

    #buttonStyle:active {
        background-color: lightskyblue;
    }

.courseTitle:hover {
    background-color:white;
}

.onlineDot {
    height: 25px;
    width: 25px;
    background-color: #0f0;
    border-radius: 50%;
    display: inline-block;
}

.offlineDot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.title-div:focus {
    outline: 0 !important;
}
.accordion-toggle:hover, .accordion-toggle:focus, .accordion-toggle:active {
    text-decoration: none;
    outline-style: none;
}