
<div ng-init="teacherStatusDetails('@User.Identity.Name')">
    <br />
    <div class="accordion" id="accordionTimetable">
        <div class="card" ng-repeat="timetable in teacherStatusTimetable">
            <div class="card-header" id="headingT{{$index}}">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseT{{$index}}"
                            aria-expanded="true" aria-controls="collapseT{{$index}}" ng-click="showTimetableStudents(timetable.id)">
                        {{timetable.timetable}}  [{{timetable.group}}]
                    </button>
                </h5>
            </div>
            <div id="collapseT{{$index}}" class="collapse" aria-labelledby="headingT{{$index}}" data-parent="#accordionTimetable">
                <div class="card-body">

                    <p class="text-danger" ng-hide="existsStudentStatusCourses">
                        {{noStudentsStatus}}
                    </p>

                    <p>
                        <div class="input-group mb-3" ng-show="existsStudentStatusCourses">
                            <input type="text" class="form-control" placeholder="Caută în tabel" ng-model="searchPattern"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Caută</span>
                            </div>
                        </div>
                    </p>

                    <div class="table-responsive">
                        <table class="table table-sm table-bordered" ng-show="existsStudentStatusCourses">
                            <thead class="alert-primary">
                                <tr>
                                    <th>
                                        Student
                                    </th>
                                    <th>
                                        Puncte
                                    </th>
                                    <th>
                                        Total răspunsuri
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in studentsStatus | filter:searchPattern">
                                    <td>
                                        {{item.student}}
                                    </td>
                                    <td>
                                        {{item.points}}
                                    </td>
                                    <td>
                                        {{item.totalAnswers}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<button class="btn btn-link text-secondary" ng-click="navigateToTeacherStatus()">
    Grupează după cursuri
</button>
</div>