<div ng-init="teacherAnswersDetails()">
    <br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                Întrebare
            </span>
        </div>
        <input type="text" class="form-control text-primary" aria-describedby="basic-addon1"
               value="{{teacherAnswers[0].questionName}}" readonly>
    </div>

    <p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Caută în tabel" ng-model="searchPattern"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Caută</span>
            </div>
        </div>
    </p>

    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="alert-primary text-center">
                <tr>
                    <th>
                        Numele studentului
                    </th>
                    <th>
                        Răspuns
                    </th>
                    <th>
                        Adăugat la
                    </th>
                    <th>
                        Puncte
                    </th>
                    <th>
                        Șterge
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr ng-repeat="item in teacherAnswers | filter:searchPattern">
                    <td>
                        {{item.studentName}}
                    </td>
                    <td>
                        {{item.answerName}}
                    </td>
                    <td>
                        {{item.answerTime | date:'EEEE, dd MMMM, hh:mm:ss a'}}
                    </td>
                    <td>
                        <ng-rate-it ng-model="item.rating" rated="rateAnswer(item, rating)" reset="resetRate(item)"></ng-rate-it>
                    </td>
                    <td>
                        <button class="btn btn-link" ng-click="deleteAnswer(item)">Șterge</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <input type="button" value="Înapoi" class="btn btn-outline-primary" ng-click="backToTeacherCourses()" />
</div>