<div ng-init="teacherAnswersDetails()">
    <br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                Întrebare
            </span>
        </div>
        <input type="text" class="form-control text-primary" aria-describedby="basic-addon1"
               value="{{teacherAnswers[0].questionName}}" readonly>
    </div>

    <p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Caută în tabel" ng-model="searchPattern"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Caută</span>
            </div>
        </div>
    </p>

    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="alert-primary">
                <tr>
                    <th>
                        Numele studentului
                    </th>
                    <th>
                        Răspuns
                    </th>
                    <th>
                        Adăugat la
                    </th>
                    <th>
                        Puncte
                    </th>
                    <th>
                        Șterge
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in teacherAnswers | filter:searchPattern">
                    <td>
                        {{item.studentName}} [{{item.studentYear}}, {{item.studentGroup}}]
                    </td>
                    <td>
                        {{item.answerName}}
                    </td>
                    <td>
                        {{item.answerTime.toLocaleString() | date:'EEEE, dd MMMM, hh:mm:ss a'}}
                    </td>
                    <td>
                        <ng-rate-it ng-model="item.rating" rated="rateAnswer(item, rating)" reset="resetRate(item)"></ng-rate-it>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="#deleteAnswerModal" ng-click="navigateToDeleteAnswerModal(item)">
                            Șterge
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <input type="button" value="Înapoi" class="btn btn-outline-primary" ng-click="backToTeacherCourses()" />
</div>

<div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="deleteAnswerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteAnswerModalLabel">Confirmă</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-body text-secondary">
                    Vrei să ștergi acest răspuns?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAnswer(thisAnswer)">Șterge</button>
            </div>
        </div>
    </div>
</div>