<div ng-init="studentProfileValue('@User.Identity.Name')">
    <br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Nume</span>
        </div>
        <input type="text" class="form-control" ng-model="studentDetails.studentFullName" required />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">An studiu</span>
        </div>
        <select class="custom-select" ng-model="studentDetails.studyYear" ng-options="x for x in studyYears"></select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Grupa</span>
        </div>
        <select class="custom-select" ng-model="studentDetails.studentHalfyear" ng-options="x for x in studyHalfyears"></select>
        <input type="text" class="form-control" ng-model="studentDetails.studentGroup" required />
    </div>
    <input type="button" value="Salvează" class="btn btn-outline-primary" ng-click="editStudentProfile('@User.Identity.Name',studentDetails,selectedStudyYear)" />
    <input type="button" value="Anulează" class="btn btn-outline-primary float-right" ng-click="backToStudentProfile()" />
</div>